<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chsoft.fabric.manage.fabricOrderer.dao.FabricOrdererMapper">
  <resultMap id="BaseResultMap" type="com.chsoft.fabric.manage.fabricOrderer.entity.FabricOrderer">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="orderer_name" jdbcType="VARCHAR" property="ordererName" />
    <result column="orderer_location" jdbcType="VARCHAR" property="ordererLocation" />
    <result column="orderer_domain_name" jdbcType="VARCHAR" property="ordererDomainName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, orderer_name, orderer_location, orderer_domain_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fabric_orderer
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from fabric_orderer
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.chsoft.fabric.manage.fabricOrderer.entity.FabricOrderer">
    <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
      select  replace(uuid(),'-','')   from dual
    </selectKey>
    insert into fabric_orderer (id, orderer_name, orderer_location, 
      orderer_domain_name)
    values (#{id,jdbcType=VARCHAR}, #{ordererName,jdbcType=VARCHAR}, #{ordererLocation,jdbcType=VARCHAR}, 
      #{ordererDomainName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.chsoft.fabric.manage.fabricOrderer.entity.FabricOrderer">
    insert into fabric_orderer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="ordererName != null">
        orderer_name,
      </if>
      <if test="ordererLocation != null">
        orderer_location,
      </if>
      <if test="ordererDomainName != null">
        orderer_domain_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="ordererName != null">
        #{ordererName,jdbcType=VARCHAR},
      </if>
      <if test="ordererLocation != null">
        #{ordererLocation,jdbcType=VARCHAR},
      </if>
      <if test="ordererDomainName != null">
        #{ordererDomainName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chsoft.fabric.manage.fabricOrderer.entity.FabricOrderer">
    update fabric_orderer
    <set>
      <if test="ordererName != null">
        orderer_name = #{ordererName,jdbcType=VARCHAR},
      </if>
      <if test="ordererLocation != null">
        orderer_location = #{ordererLocation,jdbcType=VARCHAR},
      </if>
      <if test="ordererDomainName != null">
        orderer_domain_name = #{ordererDomainName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chsoft.fabric.manage.fabricOrderer.entity.FabricOrderer">
    update fabric_orderer
    set orderer_name = #{ordererName,jdbcType=VARCHAR},
      orderer_location = #{ordererLocation,jdbcType=VARCHAR},
      orderer_domain_name = #{ordererDomainName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>