<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chsoft.fabric.manage.fabricChannel.dao.FabricChannelMapper">
  <resultMap id="BaseResultMap" type="com.chsoft.fabric.manage.fabricChannel.entity.FabricChannel">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="channel_name" jdbcType="VARCHAR" property="channelName" />
    <result column="channel_file_path" jdbcType="VARCHAR" property="channelFilePath" />
  </resultMap>
  <sql id="Base_Column_List">
    id, channel_name, channel_file_path
  </sql>
  <select id="findAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from fabric_channel
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from fabric_channel
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from fabric_channel
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.chsoft.fabric.manage.fabricChannel.entity.FabricChannel">
    <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
      select  replace(uuid(),'-','')   from dual
    </selectKey>
    insert into fabric_channel (id, channel_name, channel_file_path
      )
    values (#{id,jdbcType=VARCHAR}, #{channelName,jdbcType=VARCHAR}, #{channelFilePath,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chsoft.fabric.manage.fabricChannel.entity.FabricChannel">
    insert into fabric_channel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="channelName != null">
        channel_name,
      </if>
      <if test="channelFilePath != null">
        channel_file_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="channelName != null">
        #{channelName,jdbcType=VARCHAR},
      </if>
      <if test="channelFilePath != null">
        #{channelFilePath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chsoft.fabric.manage.fabricChannel.entity.FabricChannel">
    update fabric_channel
    <set>
      <if test="channelName != null">
        channel_name = #{channelName,jdbcType=VARCHAR},
      </if>
      <if test="channelFilePath != null">
        channel_file_path = #{channelFilePath,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chsoft.fabric.manage.fabricChannel.entity.FabricChannel">
    update fabric_channel
    set channel_name = #{channelName,jdbcType=VARCHAR},
      channel_file_path = #{channelFilePath,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>