@import "../fonts/iconfont.css";
[v-cloak] {
    display: none;
}
//老师库
body{
    background-color: #fff;
}
body.light-gray{
    background-color: #efeff4;
}
.teacher-nav{
    width:100%;
    background-color: inherit;
}
.teachers-style{
    background-color: #fff;
    text-align: center;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    span{
        display: inline-block;
        color:#333;
        height:100%;
        i{
            font-style: normal; 
        }
    }
    .teachers-active{
        color: #50BF60;
        border-bottom: solid 3px #50BF60;
    }
}
.mui-table-view-cell{
    list-style: none;
    text-align: center;
}
.teachers-list-li{
    list-style: none;
    text-align: center;
    position: relative;
    overflow: hidden;
    padding: 11px 15px;
    
}
.teachers-nav-new{
    border-right: solid 1px #0062cc;
}
.teachers-list{
    a{
        span:first-child{
            float: left;
        }
        span:nth-child(2){
            float: right;
        }
        p{
            float: left;
            margin-top:10px;
            i{
                font-style: normal;
            }
        }
    }
}

.teachers-noData{
    height:40px;
    background-color: #fff;
    text-align: center;
    line-height: 40px;
    p{
        font-size: 16px;                
    }
}

//新加
.teachers-choose{
    margin-top:3px;
    border-top: solid 1px #D8D8D8;
    height:44px;
}
.new-teachers-span{
    float:right;
    width:1px ;
    height:24px;
    border-right: 1px solid #D8D8D8;
    margin-top: 10px;
}
.teachers-choose-div{
    position: absolute;
    background-color: #fff;
    z-index: 999;
    width: 100%;
    top: 37px;
    height: auto;
}
.new-teachers-choose{
    height:100%;
    text-align: center;
    .new-teachers-select{
        text-align: center;
        line-height: 44px;
        font-size: 15px;
    }
    ul{
        margin: 0;
        padding: 0;
        border-top: solid 1px #E3E6EB;
        li{
            height: 49px;
            border-bottom: solid 1px #E3E6EB;
            color: #333;
            font-size: 16px;
            line-height: 49px;
            text-align: left;
            margin-left: 16px;
            list-style: none;
            
        }
        .teachers-select-active{
            color:#50BF60;
            i{
                float: right;
                width:16px;
                height:12px;
                background-image: url(../images/marketManage/triangle.png);
                background-size: cover;
                margin-top: 16px;
            }
        }
    }
    
}
.teachers-select-pull{
    display: inline-block;
    width: 9px;
    height: 7px;
    background-size: cover;
    position: relative;
    left: 10px;
    top:-2px;
    background-image: url(../images/marketManage/triangle.png);
}
.new-teachers-list{
    padding:0;
    height:84px;
    padding-left:20px;
    padding-top: 10px;
    &.mui-table-view-cell:after{
        display: none;
    }
    border-bottom:solid 1px #C7C7CC ;
    a{
        margin:0 !important;
        padding:0 !important;
        height:100%;
        text-align: left;
        p{
            float: none;
            margin:0;
            padding: 0;
            margin-top: 2px;
            font-size: 13px;
            color:#000;
        }
        .new-teachers-p{
            margin-top:3px;
            color:#999;
        }
    }
    span{
       font-size: 16px;
        color:#000; 
    }
    
}
.new-teachers-name{
    float: none !important;
}
//分销老师
.teachers-list-a{
    img{
        float: left;
        width:54px;
        height:54px;
    }
    div{
        float:left;
        margin-left:10px;
        padding-top: 5px;
        span{
            color: #000;
            font-size: 15px;
            font-weight: 600;
            margin-right:5px;
        }
        i{
            font-style: normal;
        }
        p{
            padding:0;
            margin:0;
            margin-top: 6px;
            i{
                display: inline-block;
                font-size: 13px;
                color:#999;
            }
        }
    }
}
.teachers-status{
    height:100%;
    select{
        width:100%;
    }
}
.teachers-edit{
    width: 70px;
    height: 28px;
    background-color: #F97312;
    border: solid 1px #F97312;
    border-radius: 91px;
    color: #fff;
    line-height: 15px;
    float: right;
    margin-right: 0.24rem;
    margin-top: 15px;
}
//分销老师--遮罩层
.teachers-style.teachers-hide{
    position: absolute;
    z-index: 999;
    width: 100%;
    top: 0;
    background-color: #fff;
}

//老师邀请
.invitate-teachers{
    margin-top:20px;
    text-align: center;
    h5{
        font-size: 20px;
        color: #50BF60;
        letter-spacing: 0;
        text-align: center;
        line-height: 20px;
        margin-bottom: 12px;
    }
    p{
        color: #333;
        font-size: 14px;
    }
}

.teachers-choose-all{
    margin:0.24rem;
    background-color: #fff;
    border: 0 solid #DEDFE0;
    border-radius: 4px;
    padding:0.4rem 0.32rem;
    margin-top: 0;
}
.teachers-choose-ul{
    margin: 0;
    padding:0;
    border-bottom: solid 1px #DEDFE0;
    li{
        list-style: none;
        margin-bottom: 15px;
        span{
            display: inline-block;
            width:25%;
            color:#737373;
            font-size: 14px;
            &:nth-child(2){
                width:70%;
                text-align: right;
                color:#000;
            }
        }
    }
}
.setting-precent{
    margin-top: 0.41rem;
    label{
        font-size:14px;
        color:#000;
        float: left;
        line-height: 44px;
    }
    select{
        width: 100%;
        height: 100%;
        position: relative;
        left: 0px;
        top: -44px;
        opacity: 0;
        float: right;
    }
    .setting-precent-select{
        width: 4rem;
        height: 44px;
        border: 1px solid #DEDFE0;
        border-radius: 3px;
        display: inline-block;
        float: right;
    }
    .setting-precent-span{
        line-height: 44px;
        padding-left: 16px;   
        i{
            font-style: normal;
        }     
    }
}
.setting-precent-trianger{
    float: right;
    width: 9px;
    height: 7px;
    margin-top: 18px;
    margin-right: 20px;
    background-image: url(../images/marketManage/triangle.png);
    background-size: cover;
}
.teachers-choose-submit{
    margin: 0.24rem;
    margin-top:0.4rem;
    button{
        width:100%;
        background-color: #50BF60;
        border:none;
        border-radius: 4px;
        color:#fff;
        font-size: 18px;
    }
}
