<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>foods</title>
		<link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="../../bower_components/Ionicons/css/ionicons.min.css">
		<link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
		<link rel="stylesheet" href="../../dist/css/skins/_all-skins.min.css">
		<!--弹框-->
		<link rel="stylesheet" href="../../dist/css/sweetalert.css" />
		<link rel="stylesheet" type="text/css" href="../../dist/css/pages/index.css"/>
	</head>

	<body class="hold-transition skin-blue sidebar-mini">
		<div class="wrapper">
						
			<div class="content-wrapper">
				<section class="content">
					<div class="row">
						<div class="col-xs-12">
							<div class="box tech-box">
								<div class="box-header">
									<h3 class="box-title">美食篇<span style="font-size:12px;">（浏览次数：33）</span></h3>

									<div class="box-tools">
										<div class="input-group input-group-sm" style="width: 150px;right: 160px;">
											<input type="text" name="table_search" class="form-control" placeholder="关键词">

											<div class="input-group-btn">
												<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
											</div>
										</div>
										<!--添加-->
										<span  class="btn btn-block btn-info tech-box-add js_add_link">添加分享</span>
									</div>
								</div>
								<!-- /.box-header -->
								<div class="box-body table-responsive no-padding">
									<table class="table table-hover doitmyself-table js_doitmyself_table">
										<tbody>
											<tr>
												<th>ID</th>
												<th>标题</th>
												<th>图片</th>
												<th>创建时间</th>
												<th>操作</th>
											</tr>
											<tr>
												<td>183</td>
												<td class="js_doitmyself_text">Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
												<td>
													<img src="../../dist/img/8.jpg"  alt="" />
													<span class="glyphicon glyphicon-remove doitmyself-del-icon js_del_icon"></span>
													
												</td>
												<td>11-7-2014</td>
												<td class="tech-box-operate">
													<span class="js_do_update">修改</span>
													<span class="js_link_del">删除</span>
												</td>
												
											</tr>
											<tr>
												<td>183</td>
												<td class="js_doitmyself_text">Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
												<td>
													<img src="../../dist/img/8.jpg" alt="" />
													<span class="glyphicon glyphicon-remove doitmyself-del-icon js_del_icon"></span>
												</td>
												<td>11-7-2014</td>
												<td class="tech-box-operate">
													<span class="js_do_update">修改</span>
													<span class="js_link_del">删除</span>
												</td>
												
											</tr>
											<tr>
												<td>183</td>
												<td class="js_doitmyself_text">Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
												<td>
													<img src="../../dist/img/8.jpg"  alt="" />
													<span class="glyphicon glyphicon-remove doitmyself-del-icon js_del_icon"></span>
												</td>
												<td>11-7-2014</td>
												<td class="tech-box-operate">
													<span class="js_do_update">修改</span>
													<span class="js_link_del">删除</span>
												</td>
												
											</tr>
										</tbody>
									</table>
								</div>
								<!-- /.box-body -->
							</div>
							<!-- /.box -->
						</div>
						
					</div>
							
				</section>
			</div>
			
		</div>
		<!--添加模板-->
		<table class="add-model" style="display: none;">
			<tr>
				<td>183</td>
				<td class="js_doitmyself_text">
					<input type="text" class="form-control" placeholder="标题">
				</td>
				<td>
					<input type="file" id="exampleInputFile">
				</td>
				<td></td>
				<td class="tech-box-operate">
					<span class="js_do_addSave">添加保存</span>
				</td>
			</tr>
		</table>
		<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
		<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="../../dist/js/adminlte.min.js"></script>
		<script src="../../dist/js/header.js"></script>
		<!--弹框-->
		<script src="../../dist/js/sweetalert.min.js"></script>
		<script type="text/javascript">
			$(function(){
				//删除链接
				$('.js_link_del').click(function(){
					swal({ 
						title: "", 
						text: "确定删除吗！", 
						type: "warning",
						showCancelButton: true, 
						confirmButtonColor: "#DD6B55",
						confirmButtonText: "确定", 
						closeOnConfirm: false
					});
				})
				//修改
				$('.js_do_update').click(function(){
					//显示图片的叉叉
					$(this).parent('td').parent('tr').find('.js_del_icon').show();
					//显示input框
					var titleText = $(this).parent('td').parent('tr').find('.js_doitmyself_text').text();
					var template = '<input type="text" class="form-control" value="'+titleText+'" >';
					$(this).parent('td').parent('tr').find('.js_doitmyself_text').html(template);
					//替换修改按钮  
					$(this).parent('td').parent('tr').find('.js_do_update').after('<span class="js_do_save" style="color:#dd4b39;">保存</span>');
					$(this).parent('td').parent('tr').find('.js_do_update').remove();
					//点击图片上的叉
					$('.js_del_icon').click(function(){
						$(this).prev('img').remove();
						$(this).after('<input type="file" id="exampleInputFile">');
 						$(this).remove();
					})
				})
				//点击保存
				$('.js_do_save').click(function(){
					
				})
				//点击添加
				$('.js_add_link').click(function(){
					var temp = $('.add-model').find('tr').clone();
					$('.js_doitmyself_table').append(temp);
					//点击保存
					$($('.js_do_addSave')[0]).click(function(){
						console.log(1);
					})
				})
			})
		</script>
	</body>

</html>