<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>technology</title>
		<link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="../../bower_components/Ionicons/css/ionicons.min.css">
		<link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
		<link rel="stylesheet" href="../../dist/css/skins/_all-skins.min.css">
		<!--弹框-->
		<link rel="stylesheet" href="../../dist/css/sweetalert.css" />
		<link rel="stylesheet" type="text/css" href="../../dist/css/pages/index.css" />
	</head>

	<body class="hold-transition skin-blue sidebar-mini">
		<div class="wrapper">

			<div class="content-wrapper">
				<section class="content">
					<div class="row">
						<div class="col-xs-12">
							<div class="box tech-box">
								<div class="box-header">
									<h3 class="box-title">分享链接<span style="font-size:12px;">（浏览次数：33）</span></h3>

									<div class="box-tools">
										<div class="input-group input-group-sm" style="width: 150px;right: 160px;">
											<input type="text" name="table_search" class="form-control" placeholder="描述">

											<div class="input-group-btn">
												<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
											</div>
										</div>
										<!--添加-->
										<button type="button" class="btn btn-block btn-info tech-box-add js_add_link">添加分享</button>
									</div>
								</div>
								<!-- /.box-header -->
								<div class="box-body table-responsive no-padding">
									<table class="table table-hover">
										<tbody>
											<tr>
												<th>ID</th>
												<th>描述</th>
												<th>链接地址</th>
												<th>时间</th>
												<th>操作</th>
											</tr>
											<tr>
												<td>183</td>
												<td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
												<td>www.baidu.com</td>
												<td>11-7-2014</td>
												<td class="tech-box-operate">
													<span class="js_link_update">修改</span>
													<span class="js_link_del">删除</span>
												</td>
												
											</tr>
											<tr>
												<td>183</td>
												<td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
												<td>www.baidu.com</td>
												<td>11-7-2014</td>
												<td class="tech-box-operate">
													<span class="js_link_update">修改</span>
													<span class="js_link_del">删除</span>
												</td>
												
											</tr>
											<tr>
												<td>183</td>
												<td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
												<td>www.baidu.com</td>
												<td>11-7-2014</td>
												<td class="tech-box-operate">
													<span class="js_link_update">修改</span>
													<span class="js_link_del">删除</span>
												</td>
												
											</tr>
										</tbody>
									</table>
								</div>
								<!-- /.box-body -->
							</div>
							<!-- /.box -->
						</div>
						
						<div class="col-xs-12">
							<div class="box tech-box">
								<div class="box-header">
									<h3 class="box-title">笔记积累<span style="font-size:12px;">（浏览次数：33）</span></h3>

									<div class="box-tools">
										<div class="input-group input-group-sm" style="width: 150px;right: 160px;">
											<input type="text" name="table_search" class="form-control" placeholder="笔记名称">

											<div class="input-group-btn">
												<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
											</div>
										</div>
										<!--添加-->
										<button type="button" class="btn btn-block btn-info tech-box-add js_add_note">添加笔记</button>
									</div>
								</div>
								<!-- /.box-header -->
								<div class="box-body table-responsive no-padding">
									<table class="table table-hover">
										<tbody>
											<tr>
												<th>ID</th>
												<th>笔记名称</th>
												<th>文件</th>
												<th>时间</th>
												<th>操作</th>
											</tr>
											<tr>
												<td>183</td>
												<td>Bacon ipsum dolor</td>
												<td>abc.com</td>
												<td>11-7-2014</td>
												<td class="tech-box-operate">
													<span class="js_note_update">修改</span>
													<span class="js_note_del">删除</span>
												</td>
												
											</tr>
											<tr>
												<td>183</td>
												<td>Bacon ipsum dolor</td>
												<td>abc.com</td>
												<td>11-7-2014</td>
												<td class="tech-box-operate">
													<span class="js_note_update">修改</span>
													<span class="js_note_del">删除</span>
												</td>
												
											</tr>
											<tr>
												<td>183</td>
												<td>Bacon ipsum dolor</td>
												<td>abc.com</td>
												<td>11-7-2014</td>
												<td class="tech-box-operate">
													<span class="js_note_update">修改</span>
													<span class="js_note_del">删除</span>
												</td>
												
											</tr>
										</tbody>
									</table>
								</div>
								<!-- /.box-body -->
							</div>
							<!-- /.box -->
						</div>
					</div>

				</section>
			</div>

		</div>
		<!--修改笔记模板-->
		<div style="display: none;" class="link-model">
			<label>描述：</label>
			<input type="text" name="" id="" value="" class="link-model-input"/><br />
			<label>文件：</label>
			<span class="link-model-span">选择文件</span>
			<input type="file" name="" id="" value="" class="link-model-input2"/>
			<p class="link-model-p">hello herong <span class="glyphicon glyphicon-remove js_del_link"></span></p>
			<p class="link-model-p">hello herong <span class="glyphicon glyphicon-remove js_del_link"></span></p>
			<p class="link-model-p">hello herong <span class="glyphicon glyphicon-remove js_del_link"></span></p>
		</div>
		<!--添加笔记模板-->
		<div style="display: none;" class="link-add-model">
			<label>描述：</label>
			<input type="text" name="" id="" value="" class="link-model-input"/><br />
			<label>文件：</label>
			<span class="link-model-span">选择文件</span>
			<input type="file" name="" id="" value="" class="link-model-input2 js_link_input"/>
		</div>
		<!--修改链接模板-->
		<div style="display: none;" class="web-model">
			<label>描述：</label>
			<input type="text" name="" id="" value="" class="web-model-input"/><br />
			<label>链接：</label>
			<input type="url" name="" id="" value="" class="web-model-input"/><br />
		</div>
		<!--添加链接模板-->
		<div style="display: none;" class="web-add-model">
			<label>描述：</label>
			<input type="text" name="" id="" value="" class="web-model-input"/><br />
			<label>链接：</label>
			<input type="url" name="" id="" value="" class="web-model-input"/><br />
		</div>
		<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
		<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="../../dist/js/adminlte.min.js"></script>
		<!--弹框-->
		<script src="../../dist/js/sweetalert.min.js"></script>
		<script src="../../dist/js/header.js"></script>
		<script type="text/javascript">
			$(function(){
				//删除链接
				$('.js_link_del').click(function(){
					swal({ 
						title: "", 
						text: "确定删除吗！", 
						type: "warning",
						showCancelButton: true, 
						confirmButtonColor: "#DD6B55",
						confirmButtonText: "确定", 
						closeOnConfirm: false
					});
				})
				//修改链接
				$('.js_link_update').click(function(){
					swal({ 
					  	title: "修改链接",
					 	text: $('.web-model').html(), 
					 	showCancelButton:true,
					 	html: true 
					});
				})
				//添加链接
				$('.js_add_link').click(function(){
					swal({ 
					  	title: "添加链接分享",
					 	text: $('.web-add-model').html(), 
					 	showCancelButton:true,
					 	html: true 
					});
				})
				
				//删除笔记
				$(".js_note_del").click(function(){
					swal({ 
					  	title: "", 
					  	text: "确定删除吗！", 
					 	type: "warning",
					  	showCancelButton: true, 
					  	confirmButtonColor: "#DD6B55",
					  	confirmButtonText: "确定", 
					  	closeOnConfirm: false
					});
				})
				//修改笔记
				$('.js_note_update').click(function(){
					swal({ 
					  	title: "修改笔记",
					 	text: $('.link-model').html(), 
					 	showCancelButton:true,
					 	html: true 
					});
					//修改
					$('.js_del_link').click(function(){
						$(this).parent('p').remove();
					})
				})
				//添加笔记
				$('.js_add_note').click(function(){
					swal({ 
					  	title: "添加笔记分享",
					 	text: $('.link-add-model').html(), 
					 	showCancelButton:true,
					 	html: true 
					});
					//选择文件
					$('.js_link_input').change(function(){
				    	if($(this)[0].files.length>0){
				    		var template = '<p class="link-model-p">'+$(this)[0].files[0].name+' <span class="glyphicon glyphicon-remove js_del_link"></span></p>';
				    		//清空
				    		$(this).parent().children('.link-model-p').remove();
				    		$(this).parent().append(template);
				    	}
				    })
				})
				
			})
		</script>
	</body>

</html>